@model YuanChen.Model.News_info
@using MvcCarManagerment.Service;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var list = Basicinfo.GetTopServerListCar();
}
<div class="yc_container">
    <div class="yc_about_title">
        <img src="~/Content/images/carserver.png" />
    </div>
    <div class="yc_about_content">
        <div class="yc_about_content_nav">
            <div class="yc_about_content_home">
                <img src="~/Content/images/home.png" class="yc_about_home_img" /><i class="yc_about_current">当前位置：</i>
                <a href="@Url.Action("Index", "Home")">首页</a>
                <img src="~/Content/images/list_arrow.png" />
                @Html.ActionLink("服务范围", "Index")
                <img src="~/Content/images/list_arrow.png" />
                @Html.ActionLink("高端汽车服务", "Index")
            </div>
        </div>
        <div class="yc_news">
            <div class="yc_news_left">
                <div class="yc_news_right_title">
                    @Html.ActionLink("高端汽车服务", "Index")
                </div>
                <div class="yc_news_right_child">
                    @if (list != null && list.Count > 0)
                    {
                        foreach (var item in list)
                        {
                        <div class="yc_news_right_2">
                            <i class="i_nomal">●</i><a href="@Url.Action("CarServiceDetails", "CarService", new { id = item.ListID })">@item.ListName</a>
                        </div>
                        }
                    }
                </div>
            </div>
            <div class="yc_news_right">
                <div class="yc_detail_right_body">
                    <div class="yc_detail_title">
                        @Model.TiTle
                    </div>
                    <div class="yc_detail_time">
                        发布时间： @Model.Time.ToString("yyyy-MM-dd")
                    </div>
                    @Html.DisplayTextFor(t => t.NewsComment)
                </div>
            </div>
            <div class="yc_about_clear">
                .</div>
        </div>
    </div>
</div>
