@model MvcCarManagerment.Areas.Admin.Models.NewsListViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h2 class="page-title">车辆抵押</h2>
<div class="btn-toolbar">
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Add", "PledgeManager")'">
        <i class="icon-plus"></i>添加车辆抵押
    </button>
</div>
<div class="well">
    <table class="table">
        <thead>
            <tr>
                <th>
                    车辆抵押标题
                </th>
                <th>
                    发布日期
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.News)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @item.Time.Value.ToString("yyyy年MM月dd日")
                    </td>
                    <td>
                        @Html.ActionLink("编辑", "Edit", new { ID = item.ID })
                        @Html.ActionLink("删除", "Delete", new { ID = item.ID }, new { onclick = "return confirm('请确认是否要删除这条信息?');" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="pagination">
    @Html.PageLinks(Model.NewsInfo, x => Url.Action("Index", new { page = x }))
</div>
