@model MvcCarManagerment.Models.ImageModel
@using MvcCarManagerment.Service
@{
    ViewBag.Title = "图片管理";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@*"ImageManager", "ManagerMent", FormMethod.Post, new { enctype = "multipart/form-data" }*@
@using (Html.BeginForm("AddImageManager", "ImageManager", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(entity => entity.ID)
    <table>
        <tr>
            <td width="25%" align="center" valign="middle">
                @Html.LabelFor(entity => entity.Title)<span style="color: Red;">*</span>
            </td>
            <td>
                @Html.TextBoxFor(entity => entity.Title)
                @Html.ValidationMessageFor(entity => entity.Title)
            </td>
        </tr>
        <tr>
            <td width="25%" align="center" valign="middle">@Html.LabelFor(entity => entity.ImageType)
            </td>
            <td>@Html.DropDownListFor(entity => entity.ImageType, new SelectList(Basicinfo.GetImageTypeList(), "ImageType", "ImageName", Basicinfo.GetImageType(ViewBag.type)))
            </td>
        </tr>
        <tr>
            <td width="25%" align="center" valign="middle">
                图片路径
            </td>
            <td>
                @* <input type="file" id="uploadfile" name="uploadfile" width="300px" />*@
                <input type="file" id="uploadfile" name="uploadfile" onchange="c(this)" style="width: 300px;" />
                &nbsp; <span style="color: Red; line-height: 27px; height: 27px;">添加图片</span>
            </td>
        </tr>
        <tr>
            <td width="25%" align="center" valign="middle">
                图片的链接地址：
            </td>
            <td>
                @Html.TextBoxFor(entity => entity.LinkUrl, new { style = "width:300px" })
            </td>
        </tr>
    </table>
    <fieldset style="width: 572px; height: 100px; padding: 2px;">
        @*<div id="preview" style="border: 1 solid #808080; background: #E0E0E0; width: 100%; height: 20px; color: #606060; padding: 5px;"> </div>*@
    </fieldset>
    <div>
        <input type="submit" value="上传" id="UploadButton" class="btn btn_edit_submit" />
        @Html.ActionLink("返回", "Index")
    </div>
    
}
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        UpLoadFileCheck = function () {
            this.AllowExt = ".jpg,.gif,.bmp,.png"; //允许上传的文件类型 0为无限制      
            this.AllowImgFileSize = 0; //允许上传文件的大小 0为无限制 单位：KB      
            this.AllowImgWidth = 300; //允许上传的图片的宽度 0为无限制　单位：px      
            this.AllowImgHeight = 300; //允许上传的图片的高度 0为无限制　单位：px      
            this.ImgObj = new Image();
            this.ImgFileSize = 0;
            this.ImgWidth = 0;
            this.ImgHeight = 0;
            this.FileExt = "";
            this.ErrMsg = "";
            this.IsImg = false;

        }

        UpLoadFileCheck.prototype.CheckExt = function (obj) {
            this.ErrMsg = "";
            this.ImgObj.src = obj.value;
            if (obj.value == "") {
                this.ErrMsg = "\n请选择一个文件";
            }
            else {
                this.FileExt = obj.value.substr(obj.value.lastIndexOf(".")).toLowerCase();
                if (this.AllowExt != 0 && this.AllowExt.indexOf(this.FileExt) == -1) {
                    this.ErrMsg = "\n该文件类型不允许上传";
                }
            }
            if (this.ErrMsg != "") {
                this.ShowMsg(this.ErrMsg, false);
                return false;
            }
            else
                return this.CheckProperty(obj);
        }

        UpLoadFileCheck.prototype.CheckProperty = function (obj) {
            if (this.IsImg == true) {
                this.ImgWidth = this.ImgObj.width;
                this.ImgHeight = this.ImgObj.height;
                if (this.AllowImgWidth != 0 && this.AllowImgWidth < this.ImgWidth)
                    this.ErrMsg = this.ErrMsg + "\n图片宽度超过限制。请上传宽度小于" + this.AllowImgWidth + "px的文件";

                if (this.AllowImgHeight != 0 && this.AllowImgHeight < this.ImgHeight)
                    this.ErrMsg = this.ErrMsg + "\n图片高度超过限制。请上传高度小于" + this.AllowImgHeight + "px的文件";
            }

            this.ImgFileSize = Math.round(this.ImgObj.fileSize / 1024 * 100) / 100;
            if (this.AllowImgFileSize != 0 && this.AllowImgFileSize < this.ImgFileSize)
                this.ErrMsg = this.ErrMsg + "\n文件大小超过限制。请上传小于" + this.AllowImgFileSize + "KB的文件";

            if (this.ErrMsg != "") {
                this.ShowMsg(this.ErrMsg, false);
                return false;
            }
            else
                return true;
        }

        UpLoadFileCheck.prototype.ShowMsg = function (msg, tf) {
            alert(msg);
        }

        function c(obj) {
            var d = new UpLoadFileCheck();
            d.IsImg = true;
            d.AllowImgFileSize = 1;
            d.CheckExt(obj)
        }  

    </script>
}
