<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>远辰汽车服务有限公司</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <script src="../../Areas/Admin/Scripts/ueditor/ueditor.all.js" type="text/javascript"></script>
    <script src="../../Areas/Admin/Scripts/ueditor/ueditor.all.min.js" type="text/javascript"></script>
    <script src="../../Areas/Admin/Scripts/ueditor/ueditor.config.js" type="text/javascript"></script>
    
    <link href="../../Areas/Admin/Scripts/ueditor/themes/iframe.css" rel="stylesheet" type="text/css" />
    
    @Styles.Render("~/Content/css")
    @*@Styles.Render("~/Content/Site.css")*@
    @Styles.Render("~/Content/yc_b_site.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/jquery.js")
    @Scripts.Render("~/Scripts/bootstrap.js")
    <script src="~/Scripts/slide.js"></script>
    <script src="~/Content/slider.css"></script>
</head>
<body>
    <div class="yc_global_header">
        <a href="#">远辰微博</a> | <a href="/Logion/">后台登陆</a>
    </div>
    <div class="YC_global_nav">
        <div class="yc_bg">
            <div class="yc_header">
                <div class="yc_logo">
                    <img src="~/Content/images/logo_b.png" />
                </div>
                <div class="yc_nav">
                    <div class="yc_title current">
                        @*@Html.ActionLink("首页", "Index", "Home", new object { }, new { @class = "yc_tab" })*@
                        <a href="/Home/Index" class="yc_tab first_tab"><i>首页</i></a>
                    </div>
                    <div class="yc_title current">
                        @*@Html.ActionLink("关于我们", "Index", "AboutUs", new object { }, new { @class = "yc_tab" })*@
                        <a href="/AboutUs/Index" class="yc_tab"><i>关于我们</i></a>
                    </div>
                    <div class="yc_title current">
                       @* @Html.ActionLink("新闻动态", "Index", "News", new object { }, new { @class = "yc_tab" })*@
                        <a href="/News/Index" class="yc_tab"><i>新闻动态</i></a>
                    </div>
                    <div class="yc_title current">
                        @*@Html.ActionLink("优惠活动", "Index", "Offer", new object { }, new { @class = "yc_tab" })*@
                        <a href="/Offer/Index" class="yc_tab"><i>优惠活动</i></a>
                    </div>
                    <div class="yc_title current">
                        <a href="/Wed/Index" class="yc_tab" id="yc_wed" onmouseover="mopen('yc_slide_my')" onmouseout="mclosetime()"><i>服务范围</i></a>
                        <div id="yc_slide_my" onmouseover="mcancelclosetime()" onmouseout="mclosetime()">
                            @Html.ActionLink("高端婚庆策划","Index", "Wed")
                            @Html.ActionLink("高端商务礼仪","Index", "Business")
                            @Html.ActionLink("高端汽车服务","Index", "CarService")
                            @Html.ActionLink("车辆订购、按揭","Index", "CarOrder")
                            @Html.ActionLink("车辆抵押","Index", "Pledge")
                            @Html.ActionLink("二手车交易、评估","Index", "HandCar")
                        </div>
                        @*<ul id="yc_slide">
                            <li>@Html.ActionLink("高端婚庆策划","Index", "Wed", new object { }, new { @class = "yc_tab" })</li>
                            <li>@Html.ActionLink("高端商务礼仪","Index", "Business", new object { }, new { @class = "yc_tab" })</li>
                            <li>@Html.ActionLink("高端汽车服务","Index", "CarService", new object { }, new { @class = "yc_tab" })</li>
                            <li>@Html.ActionLink("车辆订购、按揭","Index", "CarOrder", new object { }, new { @class = "yc_tab" })</li>
                            <li>@Html.ActionLink("车辆抵押","Index", "Pledge", new object { }, new { @class = "yc_tab" })</li>
                            <li>@Html.ActionLink("二手车交易、评估","Index", "HandCar", new object { }, new { @class = "yc_tab" })</li>
                        </ul>*@
                    </div>
                    <div class="yc_title current">
                        @*@Html.ActionLink("客户服务", "Index", "客户服务", new object { }, new { @class = "yc_tab" })*@
                        <a href="/Customer/Index" class="yc_tab last_tab"><i>客户服务</i></a>
                    </div>
                </div>
                <div class="yc_phone">
                    <div class="yc_phone_num">
                        <i>400-551-9999</i>
                    </div>
                    <div class="yc_phone_icon">
                        <img src="~/Content/images/phone_b.png"/>
                    </div>
                </div>
                <div class="yc_clear">.</div>
            </div>
        </div>
    </div>

    <div>
        @*@RenderSection("featured", required: false)*@
        @RenderBody()
    </div>
    <footer>
            <div class="">Copyright© 2013 Ahyuanchen.com All Rights reserverd   版权所有    安徽远辰汽车服务有限公司    地址：合肥市黄山路汇峰大厦1212室</div>
            <div class="">建议使用1024*768以上的屏幕分辨率和6.0以上版本的IE来访问本站</div>
            <div class="">客服电话: 400-511-99999   传真:0551-688888888</div>
            <div class="">备案号：皖ICP备10020997号</div>
    </footer>
    @Scripts.Render("~/Scripts/MySlide.js")
    @Scripts.Render("~/bundles/jquery")
    @*@RenderSection("scripts", required: false)*@
</body>
</html>
